// @import '~antd/es/style/themes/default.less';

// @import url('https://fonts.googleapis.com/css?family=Roboto');
// user modal
.user_modal {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    width          : 100%;
}

.modal_row {
    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : relative;
    width          : 100%;
    color          : gray;
    padding        : 10px;
}

.user_modal_content {
    display         : flex;
    flex-direction  : column;
    padding         : 10px;
    width           : 100%;
    background-color: #FFF;
}

.input_modal {
    display            : flex;
    align-items        : center;
    justify-content    : center;
    flex-direction     : column;
    width              : 100%;
    min-height         : 60px;
    border-radius      : 20px;
    border             : 1px solid rgb(215, 217, 223);
    background-color   : rgb(247, 248, 250);
    padding-top        : 10px;
    padding-bottom     : 10px;
    // box-shadow      : rgb(237 75 158) 0px 0px 0px 1px, rgb(237 75 158 / 20%) 0px 0px 0px 4px;
}