@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height     : 100%;
  font-family: sans-serif;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

//ant-pro-basicLayout-content
.ant-pro-basicLayout-content {
  margin: 0;
}

.ant-layout-footer {
  padding   : 24px 50px;
  color     : rgba(0, 0, 0, 0.85);
  font-size : 14px;
  background: unset;
}

.ant-dropdown-menu {
  border-radius: 10px;
}

.ant-popover-inner {
  border-radius: 20px;
}



canvas {
  display: block;
}

body {
  text-rendering         : optimizeLegibility;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width     : 100%;
    overflow-x: auto;

    &-thead>tr,
    &-tbody>tr {

      >th,
      >td {
        white-space: pre;

        >span {
          display: block;
        }
      }
    }
  }
}

// Compatible with IE11
@media screen and(-ms-high-contrast: active),
(-ms-high-contrast: none) {
  body .ant-design-pro>.ant-layout {
    min-height: 100vh;
  }
}


// 背景颜色
.container_bg_lottery {
  // background: #3A1C71;
  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
  // /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background      : radial-gradient(circle, rgba(89, 63, 125, 1) 0%, rgba(252, 140, 68, 1) 100%);
  background      : -webkit-radial-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
  background-color: rgb(89, 63, 125);

  // background-position: 100% 0;   
}

.container_bg_his {
  background      : -webkit-linear-gradient(to right, #ededed, #F3904F);
  background      : linear-gradient(to right, #ededed, #F3904F);
  background-color: #F3904F;

  // background-position: 100% 200%;    

}

.container_bg_rules {
  // background-position: 100% 0;    
  /* fallback for old browsers */
  background      : -webkit-linear-gradient(to bottom, #F0EEF4, #e5dcf1);
  /* Chrome 10-25, Safari 5.1-6 */
  background      : linear-gradient(to bottom, #F0EEF4, #e5dcf1);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: #F0EEF4;


}

:global {
  .local_input_number {
    .ant-input-number-input {
      text-align : center;
      font-weight: bold;
    }
  }

  .none_bgcard {
    .ant-pro-card {
      background-color: transparent;
    }
  }
}

:global {
  .ant-popover-inner {
    border-radius: 20px;
  }

  .ant-modal-header {
    padding      : 16px 24px;
    color        : @primary-color;
    background   : #F0EEF4;
    border-bottom: 1px solid rgb(215, 217, 223);
    border-radius: 20px 20px 0 0;
  }

  .ant-modal-title {
    margin     : 0;
    color      : @primary-color;
    font-weight: bold;
    font-size  : 16px;
    line-height: 22px;
    word-wrap  : break-word;
  }

  .ant-modal-content {
    position        : relative;
    background-color: #fff;
    background-clip : padding-box;
    border          : 0;
    border-radius   : 20px;
    box-shadow      : 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
    pointer-events  : auto;
  }

  .ant-input-number-handler-wrap {
    display: none;
  }
}